<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
           version="3.0">

    <servlet>
        <servlet-name>cmcrash</servlet-name>
        <servlet-class>eu.jmiguel.cm2015.cmcrash</servlet-class>
    </servlet>

    <servlet-mapping>
      <servlet-name>cmcrash</servlet-name>
      <url-pattern>/cmcrash</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>cmydb</servlet-name>
        <servlet-class>eu.jmiguel.cm2015.cmydb</servlet-class>
    </servlet>

    <servlet-mapping>
      <servlet-name>cmydb</servlet-name>
      <url-pattern>/cmydb</url-pattern>
    </servlet-mapping>


</web-app>


